* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: #c7c6c1;
}
header .btn__menu {
  width: 30px;
  display: none;
  transition: all 1s ease-out;
  cursor: pointer;
}
header .btn__menu div {
  height: 5px;
  background-color: #000;
  margin-bottom: 5px;
}
header .btn__menu.close {
  transform: rotate(180deg);
}
header .btn__menu.close div:nth-child(1) {
  transform: rotate(45deg) translate(9px, 5px);
}
header .btn__menu.close div:nth-child(2) {
  opacity: 0;
}
header .btn__menu.close div:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -5px);
}
header .menu-list {
  display: flex;
  align-items: center;
}
header .menu-list.Show {
  visibility: visible;
}
header .menu-list li {
  margin-left: 30px;
}
header .menu-list li a {
  font-weight: 700;
  color: #000;
  font-size: 17px;
}
header .menu-list li button {
  font-weight: 700;
  font-size: 17px;
  margin-right: 10px;
  padding: 15px 30px;
  background: #afada6;
  color: #000;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
}
header .menu-list li button:hover {
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
header .menu-list .bubble {
  position: absolute;
  z-index: -2;
  background: linear-gradient(to right, #484741, white, #484741);
  margin-left: 0;
  transform: scale(1.4);
  transition: all 0.5s ease;
  border: 2px solid #484741;
  border-radius: 8px;
}

main section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
main section a {
  position: absolute;
  top: 0;
}
main section a#colors-a {
  top: 100vh;
}
main section a#noise-a {
  top: 200vh;
}
main section a#comfort-a {
  top: 300vh;
}
main section h1 {
  font-size: 3rem;
}
main section p {
  font-size: 15px;
  line-height: 22px;
}
main section.home {
  background: linear-gradient(to right, #333, #5c5c5c, #333, #5c5c5c);
}
main section.home .home-presentation {
  padding: 30px;
}
main section.home .home-presentation h1 {
  margin-left: 15px;
  margin-bottom: 25px;
  color: #fff;
}
main section.home .home-presentation p {
  color: #fff;
}
main section.colors {
  background: linear-gradient(to right bottom, #C9D6FF, white, #C9D6FF, white);
}
main section.colors .colors-presentation {
  padding: 30px;
}
main section.colors .colors-presentation h1 {
  margin-left: 15px;
  margin-bottom: 25px;
  color: #000;
}
main section.colors .colors-presentation p {
  color: #000;
}
main section.noise {
  background: linear-gradient(to right top, #d9a7c7, #f2e0eb, #d9a7c7, #f2e0eb);
}
main section.noise .noise-presentation {
  padding: 30px;
}
main section.noise .noise-presentation h1 {
  margin-left: 15px;
  margin-bottom: 25px;
  color: #000;
}
main section.noise .noise-presentation p {
  color: #000;
}
main section.comfort {
  background: linear-gradient(to right, #06beb6, #1ef8ee, #06beb6, #1ef8ee);
}
main section.comfort .comfort-presentation {
  padding: 30px;
}
main section.comfort .comfort-presentation h1 {
  margin-left: 15px;
  margin-bottom: 25px;
  color: #fff;
}
main section.comfort .comfort-presentation p {
  color: #fff;
}

.form #gray {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9;
}
.form #form__inner {
  width: 300px;
  height: 550px;
  margin: 20px auto;
  background: #bcc6df;
  border: 2px solid #667db6;
  box-shadow: 0 0 10px #667db6, 0 0 40px #667db6, 0 0 80px #667db6;
  border-radius: 15px;
  z-index: 11;
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.form #form__inner .close-btn {
  cursor: pointer;
  margin: 12px 0 0 266px;
}
.form #form__inner .close-btn div {
  width: 28px;
  height: 2px;
  margin: 0 0 5px 0;
  background: #000;
}
.form #form__inner .close-btn div:nth-child(1) {
  transform: rotate(45deg) translate(0px, 5px);
}
.form #form__inner .close-btn div:nth-child(2) {
  transform: rotate(-45deg) translate(0px, -5px);
}
.form #form__inner .bying-form {
  width: 250px;
  margin: 0px auto 20px auto;
  text-align: center;
}
.form #form__inner .bying-form h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.form #form__inner .bying-form div label {
  margin-bottom: 10px;
  display: block;
  text-align: left;
}
.form #form__inner .bying-form div .input {
  width: 230px;
  padding: 5px;
  margin-bottom: 15px;
  background: #f0f2f8;
}
.form #form__inner .bying-form button {
  margin-top: 20px;
  font-weight: 700;
  color: #000;
  font-size: 17px;
  padding: 15px 85px;
  background: #9aa9cf;
  color: #000;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
}
.form #form__inner .bying-form button:hover {
  background: #667db6;
  box-shadow: 0 0 10px #667db6, 0 0 40px #667db6, 0 0 80px #667db6;
}

@media screen and (max-width: 1170px) {
  header .menu-list {
    display: none;
  }
  header .menu-list.show {
    display: block;
    position: absolute;
    top: 69px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    z-index: 5;
  }
  header .menu-list.show li {
    margin-left: 0;
    background: #c7c6c1;
  }
  header .menu-list.show li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
  header .menu-list.show li button {
    margin-right: 0;
    padding: 15px 30vw;
    background: #a3a199;
  }
  header .menu-list.show .bubble {
    transform: scale(0);
  }
  header .btn__menu {
    display: block;
    margin-right: 15px;
  }
}
@media screen and (max-width: 500px) {
  header .header-logo img {
    width: 220px;
  }

  main section.home .home-presentation {
    padding: 10px;
  }
  main section.colors .colors-presentation {
    padding: 10px;
  }
  main section.noise .noise-presentation {
    padding: 10px;
  }
  main section.comfort .comfort-presentation {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
