$header-color: #c7c6c1
$neon-color: #2196f3
$form-color: #667db6
$main-color: #333
$colors-color: #C9D6FF
$noise-color: #d9a7c7
$comfort-color: #06beb6

@function set-text-color($color)
	@if (lightness($color) > 40)
		@return #000
	@else 
		@return #fff

@mixin neon-button($color)
	border-radius: 8px
	border: none
	transition: .5s

	&:hover
		background: $color
		box-shadow: 0 0 10px $color, 0 0 40px $color, 0 0 80px $color

@mixin sandwich-to-x
	transform: rotate(180deg)

	div
		&:nth-child(1)
			transform: rotate(45deg) translate(9px, 5px)

		&:nth-child(2)
			opacity: 0

		&:nth-child(3)
			transform: rotate(-45deg) translate(9px, -5px)

//Media Query Mixins
@mixin mediaSm
	@media screen and (max-width: 500px)
		@content

@mixin mediaMd
	@media screen and (max-width: 768px)
		@content

@mixin mediaLg
	@media screen and (max-width: 1170px)
		@content

@mixin mediaXL
	@media screen and (min-width: 1171px) 
		@content