@include mediaXL
	main
		section
			&.home
				.home-images
					img
						max-height: 60vh
						top: 15vh

@include mediaLg
	header
		.menu-list
			display: none

			&.show
				display: block
				position: absolute
				top: 69px
				left: 0
				right: 0
				width: 100%
				text-align: center
				border-top: 1px solid #000
				z-index: 5
	
				li
					margin-left: 0
					background: $header-color

					a
						display: block
						padding: 10px 0
						border-bottom: 1px solid #000

					button
						margin-right: 0
						padding: 15px 30vw
						background: darken($header-color, 15)

				.bubble
					transform: scale(0)

		.btn__menu
			display: block
			margin-right: 15px


@include mediaMd
	main
		section
			&.colors
				.colors-presentation
					padding: 10px
					padding-left: 0

				.colors-images
					padding: 5px

					img
						height: 23vh

@include mediaSm
	.form
		#form__inner
			margin: 10px auto

	header
		.header-logo
			img
				width: 220px

	main
		section
			&.home
				.home-presentation
					padding: 10px
					z-index: 1

				.home-images
					padding: 0

					img
						position: absolute
						right: 10vw
						top:58vh

			&.colors
				.colors-presentation
					padding: 10px
					z-index: 1

				.colors-images
					padding: 0

					img
						position: absolute
						right: 0vw
						top: 173vh
						height: 25vh


			&.noise
				.noise-presentation
					padding: 10px

			&.comfort
				.comfort-presentation
					padding: 10px
